<div class="banner">
  <div class="banner-description">
    <h1> Dream big, play more <i class="fas fa-user-astronaut"></i> </h1>
    <p>Rent your favorite console right now !</p>
      <div class="form-inline  d-inline-flex p-2 bd-highlight">
        <%= form_tag devices_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "My next console"
          %>
          <%= submit_tag "Search", class: "btn btn-primary " %>
        <% end %>
      </div>
  </div>
</div>
<div class="map-container">
  <div class="container">
    <div class="cards-list">
      <% @devices.each do |device| %>
        <%= link_to device_path(device) do  %>
          <div class="card-device">
            <div class="card_image">
              <% if device.photos.attached? %>
                <%= cl_image_tag device.photos.first.key, height: 300, width: 400, crop: :fill %>
              <% end %>
            </div>
            <div class="card_title title-white">
              <%=device.name  %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div id="map"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


