<div class="container-devices">
  <div class="row">
    <div class="container-item col-6">
      <h2>My devices</h2>
      <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
        <ul>
          <% @my_devices.each do |device| %>
          <li>
            <div class="card-trip">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
              <div class="card-trip-infos">
                <div>
                  <h2><%= device.name %></h2>
                  <br>
                  <div class="show-btn">
                    <% if user_signed_in? && device.user_id == current_user.id%>
                    <%= link_to 'edit product', edit_device_path(device)%> | <%= link_to 'destroy', device_path(device), method: :delete %>
                    <% end %>
                  </div>
                </div>
                <h2 class="card-trip-pricing"><%= device.price %>€ per day</h2>
              </div>
            </div>
            <br>
            <br>
            <% end %>
          </li>
        </ul>
      </div>
    </div>



    <div class="container-item col-6">
      <h2>Booking and validations</h2>
      <% if @booked_devices.empty? %>
        <div class="container-item-1">
          <h2>Sorry, none of your devices are booked ...</h2>
        </div>
      <% else %>
        <ul>
          <% @booked_devices.each do |booking| %>
          <li>
            <div class="card-product">
             <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
              <div class="card-container">
                <div class="card-product-infos">
                <h2><%= booking.device.name %></h2>
                the total price is: <%= (booking.date_end - booking.date_begin).to_i * booking.device.price %>€
                <br>
                From <%= booking.date_begin %> to <%= booking.date_end %>
                </div>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= booking.status %>
                  </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <ul>
                        <li><%= link_to "accepted", accepted_rent_path(booking), method: :patch %></li>
                        <li><%= link_to "pending", pending_rent_path(booking), method: :patch %></li>
                        <li><%= link_to "refused", refused_rent_path(booking), method: :patch %></li>
                     </ul>
                    </div>
                  </div>
                  <br>
              <% end %>
              </div>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
  </div>

</div>
