<div class="container-footer">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-4 offset-12 offset-sm-8 offset-md-4">
        <div class="container-new">
                    <%= simple_form_for(@device) do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :price %>
          <%= f.input :brand %>
          <%= f.input :controller %>
          <%= f.input :game %>
          <%= f.input :address %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <div class="btn-container">
            <div class="btn-formnew">
              <%= f.button :submit, class: 'btn-show' %>
              <% end %>
              <%= link_to 'Back to index', devices_path, class: 'btn-show' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
