<!DOCTYPE html>
<html>
  <head>
    <title>Shareit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel = "icon" href =  "https://www.flaticon.com/svg/static/icons/svg/316/316319.svg" type = "image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application','data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %> 
  </body>
</html>
